body {
    box-sizing: border-box;
    background-color: #444444;
}

.container {
    display: grid;
    padding: 3px;
    grid-template-columns: repeat(2, 48vw);
    grid-template-rows:  repeat(2, 48vh);
    grid-gap: 5px;
    align-content: center;
    justify-content: center;
    min-width: 500px;
    min-height: 500px;
}

.clock {
    background-color: violet;
}

.calculator {
    background-color: teal;
}

.weather {
    background-color: tomato;
}

.notes {
    background-color: #444444;
}

/* notes header and view notes divs below */
#notesHeader {
    display: flex;
    padding-left: 10px;
    justify-content: left;
    gap: 3px;
    background-color: khaki;
    color: #444444;
    height: 5vh;
}

#notesAddNote {
    height: 25px;
    width: 25px;
    align-self: center;
    font-size: x-large;
    padding-bottom: 15px;
    padding-left: 5px;
}

#notesTextBox {
    height: 100%;
    width: 99%;
    background-color: #444444;
    color: khaki;
    font-size: larger;
    overflow: hidden;
    display: visible;
    border: none;
}

#notesViewNotesButton {
    width: 100px;
    height: 25px;
    padding-bottom: 15px;
    background-color: khaki;
    color: #444444;
}

#notesClearNotesButton {
    width: 100px;
    height: 25px;
    padding-bottom: 15px;
    background-color: khaki;
    color: #444444;
    display: none;
}

#notesPostNoteButton {
    margin-left: 5px;
    padding-bottom: 15px;
    width: 100px;
    height: 25px;
    background-color: khaki;
    color: #444444;
}

#notesNotesList {
    display: none;
    height: 81%;
    width: 99%;
    background-color: #444444;
    color: khaki;
    font-size: larger;
    overflow: scroll;
}

