body {
    box-sizing: border-box;
    background-color: #444444;
}

.container {
    display: grid;
    padding: 3px;
    grid-template-columns: repeat(2, 48vw);
    grid-template-rows:  repeat(2, 48vh);
    grid-gap: 5px;
    align-content: center;
    justify-content: center;
    min-width: 500px;
    min-height: 500px;
}

.clock {
    background-color: violet;
}

.calculator {
    background-color: teal;
}

.weather {
    background-color: #444444;
    color: whitesmoke;
}

.notes {
    background-color: #444444;
}

/* notes header and view notes divs below */
#notesHeader {
    display: flex;
    padding-left: 10px;
    justify-content: left;
    gap: 3px;
    background-color: khaki;
    color: #444444;
    height: 5vh;
}

#notesAddNote {
    height: 25px;
    width: 25px;
    align-self: center;
    font-size: x-large;
    padding-bottom: 15px;
    padding-left: 5px;
}

#notesTextBox {
    height: 100%;
    width: 99%;
    background-color: #444444;
    color: khaki;
    font-size: larger;
    overflow: hidden;
    display: visible;
    border: none;
}

#notesViewNotesButton {
    width: 100px;
    height: 25px;
    padding-bottom: 15px;
    background-color: khaki;
    color: #444444;
}

#notesClearNotesButton {
    width: 100px;
    height: 25px;
    padding-bottom: 15px;
    background-color: khaki;
    color: #444444;
    display: none;
}

#notesPostNoteButton {
    margin-left: 5px;
    padding-bottom: 15px;
    width: 100px;
    height: 25px;
    background-color: khaki;
    color: #444444;
}

#notesNotesList {
    display: none;
    height: 81%;
    width: 99%;
    background-color: #444444;
    color: khaki;
    font-size: larger;
    overflow: scroll;
}

/* Weather section below */ 
#weather {
    display: grid;
    grid-template-columns: repeat(1 fr);
    grid-template-rows: repeat(2 1fr);
}


#weatherMain {
    display: grid;
    grid-template-columns: repeat(4 1fr);
    grid-template-rows: repeat(8 1fr);
}

#weatherRefreshButton {
    grid-area: 1 / 1 / 1 / 2;
}

#weatherEnterCity {
    grid-area: 1 / 2 / 1 / 4;
}

#weatherGoButton {
    grid-area: 1 / 4 / 1 / 5;
}

#weatherCurrentTemp {
    grid-area: 2 / 1 / 5 / 3;
}

#weatherCurrentIcon {
    grid-area: 2 / 3 / 5 / 5;
}

#weatherCurrentDescription {
    grid-area: 5 / 1 / 6 / 3;
}

#weatherFeelsLike {
    grid-area: 6 / 1 / 7 / 3;
}

#weatherWind {
    grid-area: 7 / 1 / 8 / 3;
}

#weatherHumidity {
    grid-area: 8 / 1 / 9 / 3;
}
